In [5]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
   

    # Q10: Produce a list of facilities with a total revenue less than 1000.
    #The output of facility name and total revenue, sorted by revenue. Remember
    #that there's a different cost for guests and members!
    
    query10 = """
        SELECT facility_name, SUM(Revenue)

        FROM 

            (SELECT facility.name AS facility_name,

             CASE

                WHEN bookings.memid = 0 THEN facility.guestcost * bookings.slots
                WHEN bookings.memid > 0 THEN facility.membercost * bookings.slots

                END AS Revenue

             FROM `Bookings` AS bookings


             LEFT JOIN `Facilities` AS facility

             USING (facid)) AS sub


        GROUP BY facility_name HAVING SUM(revenue) < 1000

        ORDER BY SUM(Revenue) DESC

        """
    
  
    #Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
    
    query11 = """
    SELECT members.memid, members.firstname || ' ' ||  members.surname AS member_name, members.recommendedby AS recommended, recommenders.firstname || ' ' ||  recommenders.surname AS recommenders_name 

    FROM `Members` AS members


    INNER JOIN `Members` AS recommenders


    ON members.recommendedby = recommenders.memid


    WHERE members.memid > 0 AND members.recommendedby != ''


    ORDER BY member_name
    
    """
    
    

    #/* Q12: Find the facilities with their usage by member, but not guests */
    
    query12 = """
    
    SELECT facilities.name, bookings.memid, COUNT(bookings.bookid), members.firstname || ' ' ||  members.surname AS member_name 


    FROM `Bookings` as bookings


    LEFT JOIN `Members` AS members

    USING(memid)

    LEFT JOIN `Facilities` AS facilities

    using(facid)


    WHERE bookings.memid != 0

    GROUP BY bookings.memid 


    """
   
    
    
    
    #/* Q13: Find the facilities usage by month, but not guests */
    
    query13 = """
    SELECT bookings.facid, facility.name, COUNT(bookings.bookid), strftime('%m', bookings.starttime) AS mon


    FROM `Bookings` AS bookings
    
    LEFT JOIN `Facilities` AS facility
    USING(facid)

    WHERE memid != 0
    
    GROUP by mon, bookings.facid

    """

    cur.execute(query12)
   
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 1, 261, 'Darren Smith')
('Tennis Court 1', 2, 210, 'Tracy Smith')
('Massage Room 1', 3, 408, 'Tim Rownam')
('Massage Room 1', 4, 159, 'Janice Joplette')
('Tennis Court 1', 5, 163, 'Gerald Butters')
('Tennis Court 2', 6, 176, 'Burton Tracy')
('Badminton Court', 7, 117, 'Nancy Dare')
('Tennis Court 2', 8, 188, 'Tim Boothe')
('Tennis Court 2', 9, 104, 'Ponder Stibbons')
('Tennis Court 1', 10, 131, 'Charles Owen')
('Tennis Court 2', 11, 115, 'David Jones')
('Tennis Court 1', 12, 118, 'Anne Baker')
('Table Tennis', 13, 80, 'Jemima Farrell')
('Massage Room 1', 14, 89, 'Jack Smith')
('Badminton Court', 15, 120, 'Florence Bader')
('Tennis Court 2', 16, 166, 'Timothy Baker')
('Snooker Table', 17, 71, 'David Pinker')
('Massage Room 2', 20, 72, 'Matthew Genting')
('Badminton Court', 21, 126, 'Anna Mackenzie')
('Snooker Table', 22, 53, 'Joan Coplin')
('Tennis Court 2', 24, 70, 'Ramnaresh Sarwin')
('Badminton Court', 26, 14, 'Douglas Jones')
('Snooker Table', 27, 20, 'Henrietta Rumney')
('Tennis Court 1', 28, 34, 'David Farrell')
('Badminton Court', 29, 41, 'Henry Worthington-Smyth')
('Badminton Court', 30, 16, 'Millicent Purview')
('Snooker Table', 33, 16, 'Hyacinth Tupperware')
('Tennis Court 1', 35, 15, 'John Hunt')
('Badminton Court', 36, 7, 'Erica Crumpet')